@using MusicSchoolEF.Models.Defaults
@{
    var isUserAuthenticated = User.Identity!.IsAuthenticated;
    var userId = Context.Request.Cookies["UserId"];
    var isUserAdmin = User.IsInRole(Roles.Admin);
    var isUserTeacher = User.IsInRole(Roles.Teacher);
    var isUserStudent = User.IsInRole(Roles.Student);

    var isUserOnStudentPage = ViewContext.RouteData.Values["controller"]?.ToString() == "Student";
    var isUserOnTeacherPage = ViewContext.RouteData.Values["controller"]?.ToString() == "Teacher";
    var isUserOnAdminPage = ViewContext.RouteData.Values["controller"]?.ToString() == "Admin";

    var showDefaultStudentMenu = isUserStudent || (isUserAdmin && isUserOnStudentPage);
    var showDefaultTeacherMenu = isUserTeacher || (isUserAdmin && isUserOnTeacherPage);
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tree.css" />
    <link rel="stylesheet" href="~/css/list.css" /> <!-- Стили списков -->
    <link rel="stylesheet" href="~/css/tristate.css" /> <!-- Стили tristate-checkBox -->
    <!-- Ссылка на библиотеку иконок (Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- jQuery -->
    <script src="~/js/tree.js"></script> <!-- Отображение древовидного списка -->
    <script src="~/js/list_element_select.js"></script> <!-- Обработка нажатия по элементу списка -->

    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MSApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домашняя</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Конфиденциальность</a>
                        </li>

                        @if (showDefaultStudentMenu)
                        {
                            if (isUserStudent)
                            {
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Student", new { id = userId })">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Tasks", "Student", new { id = userId })">Задачи</a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Student")">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Tasks", "Student")">Задачи</a></li>
                            }
                        }

                        @if (showDefaultTeacherMenu)
                        {
                            if (isUserTeacher)
                            {
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Teacher", new { id = userId })">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Tasks", "Teacher", new { id = userId })">Задачи</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("TaskAssessment", "Teacher", new { id = userId })">Оценивание</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("TaskAssignment", "Teacher", new { id = userId })">Назначение</a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Teacher")">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Tasks", "Teacher")">Задачи</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("TaskAssessment", "Teacher")">Оценивание</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("TaskAssignment", "Teacher")">Назначение</a></li>
                            }
                        }

                        @if ( isUserAdmin && (showDefaultStudentMenu || showDefaultTeacherMenu))
                        {
                            <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Admin", new { id = userId })">На страницу админа</a></li>
                        }
                        else
                        {
                            @if (isUserAdmin)
                            {
                            <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Admin", new { id = userId })">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Users")">Пользователи</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("Index", "Groups")">Группы</a></li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (isUserAuthenticated)
                        {
                            <li class="nav-item">
                                <form id="logoutForm" asp-controller="Account" asp-action="Logout" asp-area="">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-light" asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
