@using MusicSchoolAsp.Models.Db;
@using MusicSchoolAsp.Models.Defaults;
@model IQueryable<User>

@{
	ViewData["Title"] = "Task Assessment Page";
}

<h1>Ученики</h1>

@if (TempData.ContainsKey("ErrorMessage"))
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<!-- Список студентов -->
<div>
	<ul class="list-group">
		@foreach (var s in Model)
		{
			<li class="student-node list-group-item" data-student_id="@s.Id">@s.Surname @s.FirstName @s.Patronymic</li>
		}
	</ul>
</div>

<h1>Занятия</h1>
<!-- Список КОРНЕВЫХ заданий для выбранного студента -->
<div>
	<ul id="student-task-tree" class="treeline list-group list-group-flush">
	</ul>
</div>

<div>
	<h3>Информация о занятии:</h3>
	<p>Название: <span id="node-name"></span></p>
	<p>Описание: <span id="node-description"></span></p>
	<p>Оценка: <span id="node-mark"></span></p>
	<p>Комментарий: <span id="node-comment"></span></p>
</div>

<div>
	<button id="editButton" class="btn btn-primary">Оценить</button>
	<button id="report-button-xlsx" class="btn btn-success btn-report">
		<object class="report-button-svg" type="image/svg+xml" data="~/icons/xlsx.svg" width="25" height="25">Скачать отчёт в .xlsx-формате</object>
		.xlsx
	</button>
	<button id="report-button-csv" class="btn btn-success btn-report">
		<object class="report-button-svg" type="image/svg+xml" data="~/icons/csv.svg" width="25" height="25">Скачать отчёт в .csv-формате</object>
		.csv
	</button>
</div>

<!--<script src="~/js/clear_local_storage.js"></script>-->
<script>
	$(document).ready(function () {
		// Очистка local storage
		localStorage.clear();

		// Обработка клика по студенту в списке
		$('.student-node').click(function () {
			// Очищаем содержимое treeline
			$('#student-task-list').empty();

			// Получаем student_id из data-атрибута
			var studentId = $(this).data('student_id');

			// Отправляем AJAX-запрос на сервер
			$.ajax({
				url: '@Url.Action("GetStudentTaskTree", "Teacher")',
				type: 'GET',
				data: { studentId: studentId },
				success: function (data) {
					// Обработка успешного ответа от сервера
					$('#student-task-tree').html(data);
					// Сохраняем `id` студента в `localStorage`
					localStorage.setItem('selectedStudentId', studentId);
					// Так как выбрали нового студента, удаляем `id` выбранной вершины из `localStorage`
					localStorage.removeItem('selectedNodeId');
				},
				error: function () {
					// Обработка ошибки
					console.log('Произошла ошибка при получении данных с сервера.');
				}
			});
		});

		//Обработка нажатия по элементу дерева
		$('.treeline').on('click', '.tree-node', function (event) {
			// Используем для предотвращения распространения события на другие элементы.
			event.stopPropagation();

			var node = $(this);
			var nodeId = node.data('nodeid')
			var nodeName = node.data('nodename');
			var nodeDescription = node.data('nodedescription');
			var nodeMark = node.data('nodemark');
			var nodeComment = node.data('nodecomment');

			$('#node-name').text(nodeName);
			$('#node-description').text(nodeDescription);
			$('#node-mark').text(nodeMark);
			$('#node-comment').text(nodeComment);

			localStorage.setItem('selectedNodeId', nodeId);
		});

		// Обработка нажатия на кнопку "Редактировать"
		$('#editButton').on('click', function () {
			// Получение выбранного ID из Local Storage
			var selectedStudentId = localStorage.getItem('selectedStudentId');
			var selectedNodeId = localStorage.getItem('selectedNodeId');

			// Перенаправляемся на форму редактирования задания
			window.location.href = '@Url.Action("EditStudentTask", "Teacher")?studentId=' + selectedStudentId + '&nodeId=' + selectedNodeId
		});
		// Обработка нажатия на кнопку ".xlsx"
		$('#report-button-xlsx').click(function () {
			var selectedStudentId = localStorage.getItem('selectedStudentId');
			var downloadLink = '@Url.Action("TryGenerateXlsxStudentTaskReport", "Teacher")';
			// Имитируем клик по ссылке для запуска скачивания файла
			window.location.href = downloadLink + '?studentId=' + selectedStudentId;
		});
		$('#report-button-csv').click(function () {
			var selectedStudentId = localStorage.getItem('selectedStudentId');
			var downloadLink = '@Url.Action("TryGenerateCsvStudentTaskReport", "Teacher")';
			// Имитируем клик по ссылке для запуска скачивания файла
			window.location.href = downloadLink + '?studentId=' + selectedStudentId;
		});
	});
</script>
